<h2>Sign Up</h2>
<%= form_with(model: @user, url: "/users", method: :post) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Sign Up" %>
<% end %>